* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  transition: all 0.5s ease-in-out;
  padding: 2rem;
}

main .heading {
  text-align: left;
}

main .heading__page-heading {
  font-weight: 300;
  font-size: 1.7rem;
}

main .heading__page-location {
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-top: 1.2rem;
}

main .heading__page-location span {
  color: #ef3c40;
}

main .info-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

main .info-cards .info-card {
  background: #5b2e8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  width: 450px;
  height: 120px;
  color: #fff;
  text-align: right;
}

main .info-cards .info-card i {
  font-size: 3rem;
}

main .chart_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

main .chart_cards .chart_card {
  background: #eff0f2;
  padding: 0 1rem;
  margin-right: 1rem;
}

main .chart_cards .chart_card__title {
  padding: 1rem 0;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
}

main .chart_cards .chart_card #doughnut_chart {
  width: 90% !important;
  height: 40% !important;
  margin: auto;
  margin-top: 3rem;
}

main .chart_cards .flex-2 {
  flex: 2;
}

main .chart_cards .flex-1 {
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #eff0f2;
  height: 100vh;
  width: 300px;
  transform: translateX(-100%);
  overflow-y: auto;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.sidebar__brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #df3548, #592c8a);
  padding: 1.1rem 0.4rem;
}

.sidebar__brand img {
  width: 50px;
  background: #ffffff;
  border-radius: 40px;
}

.sidebar__brand h1 {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  margin-right: 4rem;
}

.sidebar__brand-menu__btn {
  position: relative;
  width: 30px;
  height: 23px;
  margin-left: 1rem;
  cursor: pointer;
}

.sidebar__brand-menu__btn-burger, .sidebar__brand-menu__btn-burger::after, .sidebar__brand-menu__btn-burger::before {
  display: inline-block;
  height: 2px;
  background: #eff0f2;
  width: 100%;
}

.sidebar__brand-menu__btn-burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar__brand-menu__btn-burger::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar .sidebar__lists {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar__lists-item {
  display: block;
  padding: 1.5rem 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sidebar .sidebar__lists-item a {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.sidebar .sidebar__lists-item a i {
  color: #ef3c40;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sidebar .sidebar__lists-item .sidebar-arrow-right {
  width: 20%;
  text-align: right;
}

.sidebar .sidebar__lists-item:hover {
  background: #3a3a3a;
}

.sidebar .sidebar__lists-item:hover a {
  color: #fff;
}

.sidebar .sidebar__lists-item:hover .sidebar-arrow-right {
  color: #fff;
}

.sidebar.open {
  transform: translateX(0);
}

.header {
  transition: all 0.5s ease-in-out;
}

.header .nav {
  background: #eff0f2;
  padding: 1rem 0;
}

.header .menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.header .menu-nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu-nav__left-btn {
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header .menu-nav__left-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 1rem 0.6rem;
  border-radius: 2rem;
}

.header .menu-nav__left-search i {
  font-size: 1.2rem;
  color: #eff0f2;
}

.header .menu-nav__left-search input {
  border: none;
  width: 70%;
  outline: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #444444;
}

.header .menu-nav__right {
  display: flex;
  align-items: center;
}

.header .menu-nav__right-item {
  position: relative;
  padding: 0 0.9rem;
  cursor: pointer;
}

.header .menu-nav__right-item i {
  font-size: 1.2rem;
  color: #444444;
}

.header .menu-nav__right-item .user {
  text-align: right;
}

.header .menu-nav__right-item .user .user-name {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
}

.header .menu-nav__right-item .user .user-name i {
  transform: rotate(90deg);
}

.header .menu-nav__right-item .user span {
  font-size: 0.8rem;
  margin-right: 1rem;
  font-weight: 200;
}

.header .menu-nav__right-item .user-profile-image {
  width: 40px;
}

.header .menu-nav__right-item .menu-badge {
  position: absolute;
  top: -10px;
  right: 2px;
  min-width: 20px;
  min-height: 20px;
  height: auto;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem;
}

.header .menu-nav__right-item .badge-red {
  background: #ef3c40;
}

.header .menu-nav__right-item .badge-green {
  background: #6bcdde;
}

body {
  background: #ffffff;
  color: #444444;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #444444;
  text-decoration: none;
}

li {
  list-style: none;
}
